
@import '../../../app.less';
@import '../../../assets/style/icon.less';

.handle_list {
  overflow: hidden;
  margin-top: 40px;
  padding: 0 40px;
  .list_title{
      margin-bottom: 30px;
  }
  .handle_list__item {
      width: 24%;
      float: left;
      text-align: center;
      .handle_list__item__icon-wrap {
          background-color: #d43c33;
          width: 100px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          margin: 0 auto;
          .handle_list_item__icon {
            margin-left: 5px;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
      }
     
      .handle_list__item__text {
          font-size: 24px;
      }
  }
}


